In [2]:
import pandas as pd

In [17]:
df = pd.read_csv('athlete_events.csv',index_col='ID')
df.head()

,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
ID,,,,,,,,,,,,,,
1,A Dijiang,M,24.0,180.0,80.0,China,CHN,1992 Summer,1992,Summer,Barcelona,Basketball,Basketball Men's Basketball,NaN
2,A Lamusi,M,23.0,170.0,60.0,China,CHN,2012 Summer,2012,Summer,London,Judo,Judo Men's Extra-Lightweight,NaN
3,Gunnar Nielsen Aaby,M,24.0,NaN,NaN,Denmark,DEN,1920 Summer,1920,Summer,Antwerpen,Football,Football Men's Football,NaN
4,Edgar Lindenau Aabye,M,34.0,NaN,NaN,Denmark/Sweden,DEN,1900 Summer,1900,Summer,Paris,Tug-Of-War,Tug-Of-War Men's Tug-Of-War,Gold
5,Christine Jacoba Aaftink,F,21.0,185.0,82.0,Netherlands,NED,1988 Winter,1988,Winter,Calgary,Speed Skating,Speed Skating Women's 500 metres,NaN

## How many rows and columns in our data?

In [18]:
df.shape

(271116, 14)

In [32]:
print("There are {ncols} columns, and {nrows:,} rows.".format(nrows=df.shape[0],ncols=df.shape[1]))

There are 14 columns, and 271,116 rows.

Let's take the "Year" column for our analysis.

In [20]:
year = df['Year']
type(year)

pandas.core.series.Series

## What is the first year in our dataset?

In [21]:
year.min()

1896

## What is the most recent year in our dataset?

In [22]:
year.max()

2016

## What were the athlete counts for each year?

In [24]:
year.value_counts().sort_index()

1896      380
1900     1936
1904     1301
1906     1733
1908     3101
1912     4040
1920     4292
1924     5693
1928     5574
1932     3321
1936     7401
1948     7480
1952     9358
1956     6434
1960     9235
1964     9480
1968    10479
1972    11959
1976    10502
1980     8937
1984    11588
1988    14676
1992    16413
1994     3160
1996    13780
1998     3605
2000    13821
2002     4109
2004    13443
2006     4382
2008    13602
2010     4402
2012    12920
2014     4891
2016    13688
Name: Year, dtype: int64

## Where do the first and last years rank in the athlete turnout?

In [28]:
print("{} years represented in data.".format(len(year.value_counts())))
year.value_counts().rank().sort_index()

35 years represented in data.

1896     1.0
1900     4.0
1904     2.0
1906     3.0
1908     5.0
1912     9.0
1920    11.0
1924    16.0
1928    15.0
1932     7.0
1936    18.0
1948    19.0
1952    22.0
1956    17.0
1960    21.0
1964    23.0
1968    24.0
1972    27.0
1976    25.0
1980    20.0
1984    26.0
1988    34.0
1992    35.0
1994     6.0
1996    32.0
1998     8.0
2000    33.0
2002    10.0
2004    29.0
2006    12.0
2008    30.0
2010    13.0
2012    28.0
2014    14.0
2016    31.0
Name: Year, dtype: float64